
body {
    margin: 0;
    background-color: rgb(215, 208, 208);
}

.header {
    text-align: center;
    padding: 10em;
    background-color: rgb(140, 169, 166);
}

.header h1 {
    font-family: 'Chonburi', serif;
    color: rgb(58, 58, 58);
    letter-spacing: 2px;
}


/* menu bar  */
nav {
    margin: 0;
    font-family: 'Mitr', serif;

}
nav ul {
    list-style-type: none;
    display: flex;
    justify-content: center;
}
nav ul li {
    text-transform: uppercase;
} 
nav ul li a {
    display: block;
    letter-spacing: 3px;
    padding: 0.7em;
    margin: 0.2em;
}
nav ul li a:link, nav ul li a:visited {
    color: #79706a;
    text-decoration: none;
}
nav ul li a:focus, nav ul li a:hover, nav ul li a:active{
    color: #2d2d2d;
    text-decoration: underline red;
    text-decoration-thickness: 2px;  
    font-weight: bold;
}

.diary {
    font-family: 'Sarabun', serif;
    margin: 2em;
    width: 25%;
    padding: 2em;
    border: 20px;
    border-color: black;
    border-radius: 2em;
    background-color: rgb(147, 159, 141);
    
}   
.diary p {
    text-indent: 1em;
}

.flex {
    
    display: flex;
    justify-content: center;
    background-color: rgb(228, 228, 228);
}

