a {
    text-decoration: none;
}

body {
    background-color: #e9e7e1;
    margin: 0;
    padding: 0;
    display: block;
    justify-content: center;
}

nav {
    margin: 0;
    font-family: 'Mitr', serif;
}
nav ul {
    list-style-type: none;
    display: flex;
    justify-content: center;
}
nav ul li {
    text-transform: uppercase;
} 
nav ul li a {
    display: block;
    letter-spacing: 3px;
    padding: 0.7em;
    margin: 0.2em;
}
nav ul li a:link, nav ul li a:visited {
    color: #79706a;
}
nav ul li a:focus, nav ul li a:hover, nav ul li a:active{
    color: #2d2d2d;
    text-decoration: underline red;
    text-decoration-thickness: 2px;  
    font-weight: bold;
}


.diary {
    display: flex;
    justify-content: center;
}
section {
    font-family: 'Sarabun', serif;
    color:#2d2d2d;
    margin: 1em;
    width: 50em;
    height: fit-content;
    padding: 2em;
    border: 20px;
    border-color: black;
    border-radius: 2em;
    background-color: rgb(150, 199, 174);
    box-shadow: 5px 5px 5px dimgrey;
}   

section p {
    text-indent: 1em;
}

/* buttom */
a {
    text-decoration: none;
    padding: 8px 16px;
}
  
a:hover {
    background-color: rgb(176, 176, 176);
    color: white;
}
  
.buttom {
    background-color: #f1f1f1;
    color: #2d2d2d;
    border-radius: 50%;
}

.flex {
    display: flex;
    justify-content: center;
}